html {
    box-sizing: border-box;
}
    
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0rem;
    padding: 0rem;
    background-image: url("../media/images/blue-trees.svg"), url("../media/images/sunset-background.jpg");
    background-color: #E7B5C1;
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: bottom, center;
    background-repeat: no-repeat;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

/*universal rules*/
.navlink:hover {
    border-bottom: 1px solid #331F39;
}

.active-link {
    border-bottom: 2px solid #331F39;
    pointer-events: none;
}

.background-properties {
    background-color: rgba(18, 10, 26, 0.8);
    backdrop-filter: blur(0.5rem);
}

h1 {
    margin: 1rem 1rem 2rem 1rem;
    font-family: Josefin Sans, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    line-height: 1.5;
    color: #FFFFFA;
}
/*universal rules*/

/*navigation layout start*/
header {
    padding: 2rem;
}

.topnav {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.logo-container {
    border-radius: 50%;
    margin-right: 1.5rem;
}

.logo {
    width: 112px;
}

.toggle-button {
    display: none;
}

.navbar-menu {
    width: fit-content;
    margin: 0rem 1rem;
    padding: 0rem;
}

.navbar-links {
    height: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    place-content: center start;
    list-style-type: none;
}

.navitem {
    margin-right: 3rem;
    height: fit-content;
    width: fit-content;
}

.navitem1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.navitem2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.navitem3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.navitem4 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.navlink {
    display: block;
    height: 100%;
    padding: 0.8rem 0.5rem 0.2rem 0.5rem;
    color: #120A1A;
    text-decoration: none;
    text-align: center;
    font-family: Prata, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.25rem; 
}
/*navigation end*/

/*home page start*/
.home-article {
    margin: 2rem auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-title {
    margin: 0rem;
    border-top: 5px double #A43444;
    border-bottom: 5px double #A43444;
    padding: 2rem;
    font-size: 3.25rem;
    font-family: Josefin Sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFA;
    letter-spacing: 0.3rem;
}

.home-text-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.home-text {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 3rem;
    color: #FFFFFA;
    letter-spacing: 0.2rem;
}

bdi {
    color: #DC683C;
}

.scroll-box {
    margin: 0rem;
    height: 4rem;
    overflow: hidden;
}

ul {
    margin: 0rem;
    padding: 0rem;
}

ul li {
	margin: 1rem 0rem;
	width: 100%;
    height: 3.5rem !important;
    text-align: center;
    list-style-type: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #FFFFFA;
	}

.orange {
    color: #DC683C;
    font-weight: 700;
}
	
	.t {
	  animation-name: titleflip;
	  animation: titleflip 12s ease-in infinite;
		}
	
        @keyframes titleflip {
            0%, 20% {
            transform: translate(0px, -19rem);
            }
            20%,
            40% {
            transform: translate(0px, -14.5rem);
            }
            40%,
            60% {
            transform: translate(0px, -10rem);
            }
            60%,
            80% {
            transform: translate(0px, -5.5rem);
            }
            80%,
            100% {
            transform: translate(0px, -0.75rem);
            }
            100%,
            0% {
            transform: translate(0px, -19rem);
            }
          }
/*home page end*/

/*about me start*/
.about-section {
    margin: 0rem auto;
}

.about-article {
    margin: 0rem 6rem;
    padding: 3rem;
}

.about-text {
    border-top: 5px double #A43444;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #FFFFFA;
}

.about-description {
    width: 60%;
    margin-right: 1rem;
}

.about-img-container {
    width: 40%;
    margin-left: 1rem;
    border-radius: 50%;
    padding: 0rem;
    display: flex;
}

.about-img {
    border-radius: 50%;
    width: 100%;
}
/*about me end*/

/*projects start*/
.projects-section1 {
    margin: 0rem 6rem 0rem 6rem;
    padding: 3rem;
}

.projects-section2 {
    margin: 2.5rem 6rem 3rem 6rem;
    padding: 3rem;
}

.card {
    margin: 1rem;
}

.img-container {
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.cardimg {
    max-width: 100%;
    border-radius: 20%;
}

.card-text {
    padding: 0rem 1rem;
}

.card-text-r {
    justify-content: end;
    text-align: end;
}

.card-title {
    color: #FFFFFA;
    letter-spacing: 0.15rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.description {
    color: #FFFFFA;
    font-size: 1.25rem;
}

.card-layout1 {
    border-top: 5px double #A43444;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.card1 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card2 {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card3 {
    grid-column: 1/3;
    grid-row: 3/4;
    display: none;
    flex-direction: row;
    align-items: center;
}

.card-layout2 {
    border-top: 5px double #A43444;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.card4 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card5 {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card6 {
    grid-column: 2/4;
    grid-row: 3/4;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
}
/*projects page end*/

/*contact page start*/
.main-container {
    margin: 0rem 10rem 3rem 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.contact-container {
    border-top: 5px double #A43444;
    width: 100%;
}

.contact-form {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding: 1.5rem 0rem;
}

.form-element {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.input-box {
    border: none;
    border-bottom: 1.5px solid #DC683C;
    border-radius: 0rem;
    padding: 1rem 0.5rem;
    background: transparent;
    width: 100%;
    line-height: 1.5;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #FFFFFA;
    outline: none;
}

.input-box::placeholder {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    color: #FFFFFA;
}

.input-box:focus {
    border: 2px solid #DC683C;
    border-radius: 0.5rem;
}

.input-box:active {
    background: transparent;
}

.input-box:enabled {
    background: transparent;
}

.message-box {
    box-sizing: border-box;
    border: none;
    border-bottom:1.5px solid #DC683C;
    border-radius: 0rem;
    padding: 1rem 0.5rem;
    background: transparent;
    width: 100%;
    height: 8rem;
    line-height: 1.5;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #FFFFFA;
    outline: none;
}

.message-box::placeholder {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    color: #FFFFFA;
}

.message-box:focus {
    border: 2px solid #DC683C;
    border-radius: 0.5rem;
}

.message-box:active {
    background: transparent;
}

.submit-container {
    margin: 3rem auto 2rem auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.submit {
    border-color: transparent;
    border-radius: 0.25rem;
    background-color: #E7B5C1;
    padding: 0.5rem 0rem;
    display: block;
    width: 100%;
    height: auto;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    color: #120A1A;
    text-align: center;
    cursor: pointer;
}

.submit:hover {
    font-weight: 700;
    text-shadow: 2px 4px 4px rgba(18, 10, 26, 0.4);
}

@media (max-width: 992px) {
/*nav start*/
    header {
        display: flex;
        justify-content: center;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-container {
        margin-bottom: 0.75rem;
    }

    .navbar-menu {
        margin: 0rem;
    }
    
    .navbar-links {
        height: auto;
        padding: 0rem;
        display: grid;
        grid-template-columns: repeat(4, auto);
        place-content: center center;
        list-style-type: none;
    }
    
    .navitem {
        margin: 0rem;
        height: fit-content;
        width: fit-content;
    }
    
    .navitem1 {
        grid-column: 1/2;
    }
    
    .navitem2 {
        margin: 0rem 2.5rem;
        grid-column: 2/3;
    }
    
    .navitem3 {
        margin-right: 2.5rem;
        grid-column: 3/4;
    }
    
    .navitem4 {
        grid-column: 4/5;
    }
/*nav end*/

/*home start*/
    .home-article {
        margin: 1rem auto;
    }

    .home-title {
        font-size: 3rem;
        line-height: 1.5;
    }
/*home end*/

/*about start*/
.about-article {
    margin: 0rem 4rem;
    padding: 3rem;
}

.about-text {
    border-top: 5px double #A43444;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #FFFFFA;
}

.about-description {
    width: 100%;
    margin: 0rem;
}

.about-img-container {
    width: 40%;
    border-radius: 50%;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem;
    display: flex;
}

.about-img {
    border-radius: 50%;
    width: 100%;
}

/*about end*/

/*projects start*/
    .projects-section1 {
        margin: 0rem 4rem 0rem 4rem;
        padding: 3rem;
    }
    
    .projects-section2 {
        margin: 2.5rem 4rem 3rem 4rem;
        padding: 3rem;
    }

    .img-container {
        max-width: 60%;
        display: flex;
        justify-content: center;
    }

    .card-text {
        padding: 0rem 1rem;
        justify-content: center;
        text-align: center;
    }
    
    .card-layout1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
    
    .card1 {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card2 {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card3 {
        grid-column: 1/3;
        grid-row: 3/4;
        display: none;
        flex-direction: row;
        align-items: center;
    }
    
    .card-layout2 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
    }
    
    .card4 {
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card5 {
        grid-column: 2/5;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card6 {
        grid-column: 2/4;
        grid-row: 3/4;
        display: none;
        flex-direction: row-reverse;
        align-items: center;
    }
/*projects end*/

/*contact start*/
    .main-container {
        margin: 0rem 8rem 3rem 8rem;
    }

    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        padding: 1.5rem 0rem;
    }
/*contact end*/    
}

@media (max-width: 650px) {
    h1 {
        margin: 1rem;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

/*nav start*/
    header {
        padding: 1.5rem;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin: 0rem;
    }

    .logo {
        width: 88px;
    }

    .toggle-button {
        position: absolute;
        top: 3.25rem;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 32px;
    }
    
    .bar {
        height: 2px;
        width: 100%;
        background-color: #120A1A;
        border-radius: 0.5rem;
    }

    .navbar-menu {
        width: 100%;
        margin: 0.5rem 0rem 0rem 0rem;
        display: none;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        height: auto;
        margin: 0rem;
        border-radius: 1rem;
        backdrop-filter: blur(0.6rem);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
    }
    
    .navitem {
        margin: 0.5rem;
    }

    .navlink {
        padding: 0.25rem;
        text-align: center;
    }
/*nav end*/


/*home start*/
    .home-article {
        margin: 1rem auto;
        padding: 2rem 1rem;
    }
    
    .home-title {
        padding: 1rem;
        font-size: 2.25rem;
        letter-spacing: 0.2rem;
    }
    
    .home-text-container {
        padding: 1rem 0.5rem;
    }
    
    .home-text {
        margin: 0rem 0rem 0.5rem 0rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    
    .scroll-box {
        height: 2.5rem;
    }
    
    ul li {
        height: 2.5rem !important;
        font-size: 2rem;
        }
        
        .t {
          animation-name: titleflip;
          animation: titleflip 12s ease-in infinite;
            }
        
            @keyframes titleflip {
                0%, 20% {
                transform: translate(0px, -15.25rem);
                }
                20%,
                40% {
                transform: translate(0px, -11.75rem);
                }
                40%,
                60% {
                transform: translate(0px, -8.25rem);
                }
                60%,
                80% {
                transform: translate(0px, -4.75rem);
                }
                80%,
                100% {
                transform: translate(0px, -1rem);
                }
                100%,
                0% {
                transform: translate(0px, -15.25rem);
                }
              }
/*home end*/

/*about start*/
.about-article {
    margin: 0rem 2rem;
    padding: 1rem;
}
/*about end*/

/*projects start*/
    .projects-section1 {
        margin: 0rem 2rem;
        padding: 1rem;
    }
    
    .projects-section2 {
        margin: 2rem 2rem;
        padding: 1rem;
    }

    .img-container {
        max-width: 65%;
        display: flex;
        justify-content: center;
    }

    .card-text {
        padding: 0rem 1rem;
    }

    .card-title {
        letter-spacing: 0.1rem;
        font-size: 1.25rem;
    }
    
    .description {
        color: #FFFFFA;
        font-size: 1rem;
    }
    
    .card-layout1 {
        padding: 0.5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .card1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card3 {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .card-layout2 {
        padding: 0.5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .card4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card6 {
        display: none;
        flex-direction: column;
        align-items: center;
    }
/*projects end*/

/*contact start*/
    .main-container {
        margin: 0rem 2rem 3rem 2rem;
        padding: 1rem;
    }

    .contact-form {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        padding: 1.5rem 0rem;
    }
    
    .input-box {
        padding: 0.5rem;
        line-height: 1.5;
        font-size: 1.25rem;
    }
    
    .input-box::placeholder {
        font-size: 1.25rem;
        letter-spacing: 0.15rem;
    }
    
    .message-box {
        height: 6rem;
        font-size: 1.25rem;
    }
    
    .message-box::placeholder {
        font-size: 1.25rem;
        letter-spacing: 0.15rem;
    }
    
    .submit {
        font-size: 1.5rem;
    }
/*contact end*/
}